# Class 2 Notes 8.20.2020

### Built-In Types: Simple Values

|Type    |  Example    |    Description                                 |
|-----------|---------------|------------------------------------------------|
|int|     x = 1     | Integer (whole number)                         |
|-----------|---------------|------------------------------------------------|
|   float   |    x = 1.0    | Floating point numbers (real numbers)          |
|-----------|---------------|------------------------------------------------|
|  complex  |   x= 1 + 2j   | Numbers with a real and an imaginary part      |
|-----------|---------------|------------------------------------------------|
|   bool    |   x = True    | Boolean True or False                          |
|-----------|---------------|------------------------------------------------|
|   str     |   x = "abc"   | String characters or text                      |
|-----------|---------------|------------------------------------------------|
| None Type |   x = None    | Special object indicating nulls                |
|-----------|---------------|------------------------------------------------|

### Floating-point precision 
Precision of floating point arithmetic is limited which causes equality tests to be unstable.

In [1]:
0.1 + 0.2 == 0.3

False

In [2]:
print("0.1 = {0:.17f}".format(0.1))
print("0.2 = {0:.17f}".format(0.2))
print("0.3 = {0:.17f}".format(0.3))

0.1 = 0.10000000000000001
0.2 = 0.20000000000000001
0.3 = 0.29999999999999999

(Base 10 switching Base 2)

Floating point arithmetic is approximate; never rely on exact equality tests.

### Complex Numbers

In [3]:
complex(1,2)

(1+2j)

In [4]:
1 + 2j

(1+2j)

In [5]:
c = 3 + 4j

In [6]:
c.real #real part

3.0

In [7]:
c.imag #imaginary part

4.0

In [8]:
c.conjugate()   # complex conjugate

(3-4j)

In [9]:
abs(c) #magnitude, i.e sqrt(c.real**2 + c.imag ** 2)

5.0

### String Type

In [20]:
message = "what do you like?"  # setting variables 
response = 'spam' # strings denoted bysingle or double quotes

In [12]:
 #length of string #
len(response)  # this is a function and a variable

4

In [13]:
# Make upper-case. See also str.lower() 
response.upper()  # This is a method not a function and we can tell because of the period.

'SPAM'

In [22]:
# Capitalize. See also str.title()
message.capitalize()

'What do you like?'

In [16]:
# concatenation with +
message +" "+ response

'What do you like? spam'

In [17]:
# multiplication is multiple concatenation
5 * response

'spamspamspamspamspam'

In [19]:
# Access individual characters (zero-based indexing)
message [0]

'W'

### None Type

Special type that only has the none value.

In [26]:
type(None) # it is a type, "null" would be a value.

NoneType

Most commonly used as the default return value of a function

In [24]:
return_value = print('abc')

abc

In [25]:
print(return_value)

None

## Boolean Type

In [27]:
result = (4 < 5)
result

True

In [28]:
type(result)

bool

#### True and False must be capitalized.

In [29]:
print(True, False)

True False

In [30]:
bool(2014)  #values of any other typecan be converted.

True

In [32]:
bool(0) # only zero returns a False value

False

### Conversion between Datatypes
We can convert between data types by using different type conversion functions.

In [33]:
float(5) # Converts interger to float usin the float() method

5.0

In [34]:
int(100.5) # con.verts float to interger using int() method

100

In [35]:
str(20) # converts integer to string

'20'

Conversion to and from string must contain compatible values.

In [36]:
int('10p')

ValueError: invalid literal for int() with base 10: '10p'

In [39]:
user ="Jackson"
lines = 100

print("Congratulations, " + user.capitalize() + "! You just wrote " + str(lines) + " lines of code")

Congratulations, Jackson! You just wrote 100 lines of code

### Built-in Data Structures
Compound types that act as containers for other types.

|Type Name|Example|Description |
|---------|-------|------------|
|list    |[1, 2, 3]|Ordered collection
|tuple   |(1, 2, 3)|Immutable ordered collection
|dict    |  { 'a':1 , 'b':2 , 'c':3 }|Unordered (key, value) mapping
|set|{1, 2, 3}| Unordered collection of unique values|

### Lists
Ordered and mutable

In [40]:
L = [2, 3, 5, 7] #Square brackets

In [41]:
# length of a list
len(L)

4

In [42]:
# Append a value to the end
L.append(11)
L

[2, 3, 5, 7, 11]

In [43]:
# Addition concatenates lists
L + [13, 17, 19]

[2, 3, 5, 7, 11, 13, 17, 19]

In [44]:
# sort() method sorts in-place
L = [2, 5, 1, 6, 3, 4]
L.sort()
L

[1, 2, 3, 4, 5, 6]

Python compound objects can contain objects of any type or even a mix of typesdue to its dynamic type system. Lists can even contain other lists.
Lists can be manipulated as a whole or you can access individual elements. This is done by indexing and slicing.

In [45]:
L = [1, 'two', 3.14, [0, 3, 5]]

### List indexing and slicing

Both can be indicated by the square bracket syntax.

In [46]:
L = [2, 3, 5, 7, 11]

In [47]:
L[0]  # Python uses zero-based indexing. It retrieves one value.

2

In [48]:
L[1]

3

In [49]:
L[-1]  # Elements at the end of the list can be accessed with negative numbers.

11

In [50]:
L[-2]

7

Slicing - First number is the inclusive startpoint. Semicolon : then the non-inclusive endpoint.

In [51]:
L[0:3]

[2, 3, 5]

In [53]:
L[:3]   # Zero is assumed as the beginning or first of the list.

[2, 3, 5]

In [54]:
L[-3:]

[5, 7, 11]

 [ : : ] is assumed zero for both and means the entire list. The 3rd argument is the step size.

In [55]:
L[::2]  # Equivalent to L[0:Len(L):2]

[2, 5, 11]

In [56]:
L[::-1]

[11, 7, 5, 3, 2]

Both indexing and slicing can be used to set elements as well as access them.

In [57]:
L[0] = 100
print(L)

[100, 3, 5, 7, 11]

In [58]:
L[1:3] = [55, 56]
print(L)

[100, 55, 56, 7, 11]

### Tuples

In [59]:
t = (1, 2, 3)  # can be defined with brackets.

In [61]:
t = 1, 2, 3    # or without any at all.
print(t)

(1, 2, 3)

In [62]:
len(t)

3

In [63]:
t[0]

1

Tuples are immutable which means that one they are created, they cannot be changed.

In [64]:
t[1] = 4

TypeError: 'tuple' object does not support item assignment

In [65]:
t.append(4)

AttributeError: 'tuple' object has no attribute 'append'

Common use of tuples are for functions that have multiple return values.

In [66]:
x = 0.125
x.as_integer_ratio()

(1, 8)

In [67]:
# the multiple return values can be individually as:
numerator, denominator = x.as_integer_ratio()
print(numerator / denominator)

0.125

### Dictionaries
flexible mappings of keys to values.

In [68]:
numbers = {'one':1, 'two':2, 'three':3}

In [69]:
# Access a value via the key
numbers['two']

2

In [70]:
# Set a new key value pair
numbers['ninety'] = 90
print(numbers)

{'one': 1, 'two': 2, 'three': 3, 'ninety': 90}

### Sets

Unordered collections of unique items. Operators or methods can be used.

In [71]:
primes = {2, 3, 5, 7}
odds = {1, 3, 5, 7, 9}

In [72]:
# union: items appering in either
primes | odds  # with an operator
primes.union(odds)  # equivalently with a method

{1, 2, 3, 5, 7, 9}

In [73]:
# intersection: items appearing in both
primes & odds    # with an operator
primes.intersection(odds)  # equivalently with a method

{3, 5, 7}

In [74]:
# difference: items in primes but not in odds
primes - odds      # with an operator
primes.difference(odds)  # equilavent with a method

{2}

In [75]:
# symmetric difference: items appearing in only one set
primes ^ odds   # with an operator
primes.symmetric_difference(odds)  # equivalent with a method

{1, 2, 9}